@charset "utf-8";
@import "mixin";

// Table
//
// 컨텐츠 내부에 사용되는 표 양식입니다.
//
// Styleguide 4.

// 가로형
//
// Styleguide 4.1

// table-row-v1
//
// 서식에 사용되는 표양식입니다.
//
// Markup:
// <table class="table-row-v1 cscenter-table" >
//     <colgroup>
//         <col class="cscenter-table__th">
//         <col>
//     </colgroup>
//     <tbody>
//         <tr>
//             <th class="table-row-v1__th"><span class="required-v1">(필수)</span>제목</th>
//             <td class="table-row-v1__td">
//                 <div class="form-box"><input type="text" name="" id="" class="input-v1 input-v1_w100p" title="제목(필수항목)"></div>
//                 <div class="form-box form-box_next"><p class="para-v2"><span class="inline-block">* 20자 이내로 입력하여</span> <span class="inline-block">주시기 바랍니다.</span></p></div>
//             </td>
//         </tr>
//         <tr>
//             <th class="table-row-v1__th"><span class="required-v1">(필수)</span><span class="inline-block">이메일</span> <span class="inline-block">주소</span></th>
//             <td class="table-row-v1__td">
//                 <div class="form-box"><input type="email" name="" id="" class="input-v1 input-v1_w100p" title="이메일 주소(필수항목)"></div>
//                 <div class="form-box form-box_next"><p class="para-v2"><span class="inline-block">* 입력해주신 이메일 주소로</span> <span class="inline-block">답변이 발송되오니</span> <span class="inline-block">정확히 입력하여 주시기 바랍니다.</span></p></div>
//             </td>
//         </tr>
//         <tr>
//             <th class="table-row-v1__th"><span class="required-v1">(필수)</span>내용</th>
//             <td class="table-row-v1__td">
//                 <div class="form-box"><textarea name="" id="" cols="30" rows="10" class="textarea-v1 textarea-v1_w100p cscenter-table__textarea" title="내용(필수항목)"></textarea></div>
//                 <div class="form-box form-box_next"><p class="para-v2"><span class="inline-block">* 800자 이내로</span> <span class="inline-block">입력하여 주시기 바랍니다.</span></p></div>
//             </td>
//         </tr>
//         <tr>
//             <th class="table-row-v1__th"><span class="inline-block">첨부파일</span></th>
//             <td class="table-row-v1__td">
//                 <div class="form-box">
//                     <span class="upload-set-v1 upload-set-v1_w100p">
//                         <span class="upload-set-v1__wrap" data-value="찾아보기">
//                             <input type="file" name="" id="" class="upload-set-v1__file upload-hidden" title="첨부파일">
//                         </span>
//                         <input type="text" name="ddd" id="" class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)">
//                     </span><!-- //upload-set-v1 -->
//                 </div>
//                 <div class="form-box form-box_next"><p class="para-v2"><span class="inline-block">* 첨부파일의 용량은</span> <span class="inline-block">최대 5MB 를 넘을 수 없으며,</span> <span class="inline-block">등록 가능한 확장자명은</span> <span class="inline-block">jpg, gif, pdf 입니다.</span></p></div>
//             </td>
//         </tr>
//     </tbody>
// </table><!-- //table-row-v1 -->
//
// Styleguide 4.1.1

.table-row-v1 { width:100%; position:relative; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; border-collapse:collapse; color:$black-body;
	&__th { padding:16px 28px; border-top:1px solid #e7e3e7; background-color:#f9f9f9; color:$black-tit; vertical-align:top; text-align:left; font-weight:$bold; }
	&__td { padding:9px 19px; border-top:1px solid #e7e3e7; }
	&__th+&__td,
	&__td+&__th { border-left:1px solid #e7e3e7; }

	@media only screen { border-top:1px solid #8c8a8c; border-bottom:none;
		&:before { display:table; position:absolute; top:0; left:0; width:100%; border-top: 2px solid #8c8a8c; content: '';}
		&:after { display:table; position:absolute; bottom:0; left:0; width:100%; border-bottom: 1px solid #8c8a8c; content: '';}
		&__th,
		&__td { border-bottom:1px solid #e7e3e7; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th { padding:12px 10px; }
		&__td { padding:5px 10px;
			&:last-child { padding-right:0; }
		}
	}
}

// 세로형
//
// Styleguide 4.2

// table-col-v1
//
// * .table-col-v1-header_next : 특정 요소 다음에 오는 경우
//
//
// Markup:
// <div class="table-col-v1-header table-col-v1-header_next">
//     <h5 class="table-col-v1-header__tit">램시마 도입 첫 해 유럽 주요 국가 의약품 비용 절감 예상치</h5>
//     <div class="table-col-v1-header__edge">(단위: Million EUR)</div>
// </div><!-- //table-col-v1-header -->
// <div class="table-col-v1-wrap">
//     <table class="table-col-v1 bio-table-rheumatism">
//         <colgroup>
//             <col class="bio-table-rheumatism__col"></col>
//             <col class="bio-table-rheumatism__col"></col>
//             <col class="bio-table-rheumatism__col"></col>
//             <col class="bio-table-rheumatism__col"></col>
//         </colgroup>
//         <thead>
//             <tr>
//                 <th class="table-col-v1__th">-</th>
//                 <th class="table-col-v1__th" scope="col">램시마<br>(Infliximab)</th>
//                 <th class="table-col-v1__th color-black-body font-normal" scope="col">엔브렐<br>(Etanercept)</th>
//                 <th class="table-col-v1__th color-black-body font-normal" scope="col">휴미라<br>(Adalimumab)</th>
//             </tr>
//         </thead>
//         <tbody>
//             <tr>
//                 <th class="table-col-v1__td color-black-tit font-bold">약가</th>
//                 <td class="table-col-v1__td">363,530원/vial<br>(100mg)</td>
//                 <td class="table-col-v1__td">149,439원/PFS<br>(50mg)</td>
//                 <td class="table-col-v1__td">422,775원/PFS<br>(40mg)</td>
//             </tr>
//             <tr>
//                 <th class="table-col-v1__td color-black-tit font-bold">투여 용량</th>
//                 <td class="table-col-v1__td">3㎎/㎏</td>
//                 <td class="table-col-v1__td">1PFS/회</td>
//                 <td class="table-col-v1__td">1PFS/회</td>
//             </tr>
//             <tr>
//                 <th class="table-col-v1__td color-black-tit font-bold">연간 필요 투약횟수<br>(유지요법)</th>
//                 <td class="table-col-v1__td">8회</td>
//                 <td class="table-col-v1__td">52회</td>
//                 <td class="table-col-v1__td">26회</td>
//             </tr>
//             <tr>
//                 <th class="table-col-v1__td color-black-tit font-bold">1회 약제 비용<br><span class="inline-block">(램시마 60kg,</span> <span class="inline-block">엔브렐 및</span> <span class="inline-block">휴미라 성인 기준)</span></th>
//                 <td class="table-col-v1__td">727,060원</td>
//                 <td class="table-col-v1__td">149,439원</td>
//                 <td class="table-col-v1__td">422,775원</td>
//             </tr>
//             <tr>
//                 <th class="table-col-v1__td color-black-tit font-bold">1년 약제 비용</th>
//                 <td class="table-col-v1__td">5,816,480원</td>
//                 <td class="table-col-v1__td">7,770,828원</td>
//                 <td class="table-col-v1__td">10,992,150원</td>
//             </tr>
//         </tbody>
//     </table><!-- //table-col-v1 -->
// </div><!-- //table-col-v1-wrap -->
// <div class="table-col-v1-footer">
//     <p class="table-col-v1-footer__para font-bold">(자료: Adis, The Budget Impact of Biosimilar Infliximab (Remsima)<br/> for the Treatment of Autoimmune Diseases in Five European Countries 30% 절감 시나리오, 2015) </p>
// </div><!-- //table-col-v1-footer -->
//
// Styleguide 4.2.1


.table-col-v1-wrap { overflow:auto; }
.table-col-v1 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.3; color:$black-body;
	&__th { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-bottom:1px solid #8c8a8c; text-align:center; font-weight:$bold; color:$black-tit; }
	&__td { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-top:1px solid #dedfde; text-align:center;
		&_text-right { padding-right:18px; text-align:right; }
		&_total { font-weight:$bold; color:$black-tit; border-top:1px solid #666; border-bottom:1px solid #666; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__th,
		&__td { height:25px; }
	}
}
.table-col-v1-header { position:relative; margin-bottom:18px; line-height:1.3;
	&_next { margin-top:34px; }
	&__tit { margin:0; font-size:16px; color:$black-tit; font-weight:$normal; }
	&__edge { position:absolute; right:0; bottom:-10px; font-size:12px; line-height:1.7; }
	@media only screen and (max-width:$tablet-size) {
		overflow:hidden; margin-bottom:9px;
		&__tit { float:left; font-size:13px; }
		&__edge { float:right; position:static; bottom:0; line-height:1.4; }
	}
}
.table-col-v1-footer { margin-top:5px; font-size:12px; text-align:right; color:$black-body;
	&__para { margin:0; }
}

// table-col-v2
//
// Markup:
// <table class="table-col-v2 ir-finance-position">
//     <colgroup>
//         <col class="ir-finance-position__col">
//         <col class="ir-finance-position__col">
//         <col class="ir-finance-position__col">
//         <col class="ir-finance-position__col">
//         <col class="ir-finance-position__col">
//     </colgroup>
//     <thead>
//         <tr>
//             <th class="table-col-v2__th" scope="col" colspan="2">별도재무상태표</th>
//             <th class="table-col-v2__th" scope="col">2013</th>
//             <th class="table-col-v2__th" scope="col">2014</th>
//             <th class="table-col-v2__th" scope="col">2015</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <th class="table-col-v2__td" rowspan="6"><span class="font-bold color-black-tit">자본</span></th>
//             <td class="table-col-v2__td">자본금</td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">100,504</td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">103,570</td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">112,432</td>
//         </tr>
//         <tr>
//             <td class="table-col-v2__td">주식발행초과금</td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">370,966</td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">374,602</td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">647,186</td>
//         </tr>
//         <tr>
//             <td class="table-col-v2__td">이익잉여금</span></td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">736,468</span></td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">861,586</span></td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">1,058,486</span></td>
//         </tr>
//         <tr>
//             <td class="table-col-v2__td">기타포괄손익누계액</td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">529</td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">1,390</td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">6,159</td>
//         </tr>
//         <tr>
//             <td class="table-col-v2__td">기타자본항목</span></td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">(119,739)</span></td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">(81,740)</span></td>
//             <td class="table-col-v2__td table-col-v2__td_text-right">(72,518)</span></td>
//         </tr>
//         <tr>
//             <td class="table-col-v2__td"><span class="font-bold color-black-tit">자본총계</span></td>
//             <td class="table-col-v2__td table-col-v2__td_text-right"><span class="font-bold color-red">1,088,728</span></td>
//             <td class="table-col-v2__td table-col-v2__td_text-right"><span class="font-bold color-red">1,259,408</span></td>
//             <td class="table-col-v2__td table-col-v2__td_text-right"><span class="font-bold color-red">1,751,745</span></td>
//         </tr>
//     </tbody>
// </table><!-- //table-col-v2 -->
//
// Styleguide 4.2.2

.table-col-v2 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c;
	&__th,
	&__td { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-left:1px solid #e7e3e7; border-bottom:1px solid #e7e3e7; text-align:center; font-weight:$normal;
		&:first-child { border-left:none; }
		&[rowspan] { border-right:1px solid #e7e3e7; }
		&[rowspan]+& { border-right:none; }
	}
	&__th { background-color:#f9f9f9; font-weight:$bold; color:$black-tit; }
	&__td { color:$black-body;
		&_text-right { padding-right:30px; text-align:right; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th,
		&__td { height:40px; font-size:11px; }
		&__td {
			&_text-right { padding-right:3px; }
		}
	}
}

// table-col-v3
//
// Markup:
// <table class="table-col-v3 rd-pipe-bio">
//     <colgroup>
//         <col class="rd-pipe-bio__col">
//         <col class="rd-pipe-bio__col">
//         <col class="rd-pipe-bio__col">
//     </colgroup>
//     <thead>
//         <tr>
//             <th class="table-col-v3__th" scope="col">제품구분</th>
//             <th class="table-col-v3__th" scope="col">대상물</th>
//             <th class="table-col-v3__th" scope="col">적응증</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <th class="table-col-v3__td color-black-tit font-bold">CT-P10 (트룩시마)</th>
//             <td class="table-col-v3__td">Rituximab</td>
//             <td class="table-col-v3__td">비호지킨림프</td>
//         </tr>
//         <tr>
//             <th class="table-col-v3__td color-black-tit font-bold">CT-P17</th>
//             <td class="table-col-v3__td">Adalimumab</td>
//             <td class="table-col-v3__td">류마티스 관절염</td>
//         </tr>
//         <tr>
//             <th class="table-col-v3__td color-black-tit font-bold">CT-P16</th>
//             <td class="table-col-v3__td">Bevacizumab</td>
//             <td class="table-col-v3__td">대장암</td>
//         </tr>
//     </tbody>
// </table><!-- //table-col-v3 -->
//
// Styleguide 4.2.3


.table-col-v3 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c; border-bottom:1px solid #666; color:$black-body;
	$this:&;
	&__th,
	&__td { height:50px; text-align:center; }
	&__th { font-weight:$bold; color:$black-tit; border-bottom:1px solid #8c8a8c; }
	&__td { border-top:1px solid #dedfde;
		#{$this} tbody tr:nth-child(odd) & { background-color:#f9f9f9; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th,
		&__td { height:40px; font-size:12px; }
	}
}
