@charset "utf-8";
@import "mixin";

/* 채용공고 */
.board-recruit {
	&__num { width:60px; }
	&__section { width:140px; }
	&__title { width:auto; }
	&__date { width:210px; }
	&__state { width:90px; }
}

/* Zoom in Celltrion */
.careers-zoom-header { border-bottom:1px solid #e8e8e8; line-height:1.3; color:$black-tit;
	&__wrap { overflow:hidden; position:relative; width:1000px; height:460px; margin:0 auto;
		&:before { content:''; }
		&:after { content:''; }
	}
	&__tit { position:absolute; top:17.39%; }
	&__group { margin:0 0 15px 0; font-size:14px; font-weight:$bold; }
	&__summary { margin:0; font-size:36px; font-weight:$normal; }
	&__member { position:absolute; bottom:21.73%; margin:0; font-size:14px; font-weight:$normal; color:$black-body; }
	&__name { display:block; margin-top:3px; font-size:16px; color:$black-tit; font-weight:$bold; }
	&__img-wrap { }
	&__img { position:absolute; z-index:-1; top:0; left:0; right:0; bottom:0; max-width:100%;  }
	@media only screen and (max-width:$tablet-size) {
		&__wrap { width:auto; height:0; padding-top:46%; padding-left:12px; padding-right:12px; text-shadow:1px 1px 0 rgba(255,255,255,1); }
		&__tit { top:8%; }
		&__member { bottom:13.42%; color:$black-tit; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__wrap { padding-top:56.45%; }
		&__tit { top:8%; }
		&__group { margin-bottom:10px; font-size:13px; }
		&__summary { margin-left:0; font-size:16px; }
		&__member { bottom:13.42%; font-size:13px; }
		&__name { font-size:13px; }
	}
}
.careers-zoom-article { overflow:hidden; margin-top:50px; padding-bottom:50px; border-bottom:1px solid #ededed;
	&__heading { margin:0 0 15px 0; color:$purple; font-size:16px; line-height:1.3;
		&_next { margin-top:40px; }
	}
	&__para { margin:0; color:$black-body; line-height:1.5;
		&_next { }
	}
	&__img-wrap { float:left; margin-right:18px;
		&_next { margin-top:40px; }
	}
	&__img { max-width:100%; }
	@media only screen and (max-width:$tablet-size) {
		&__img-wrap { width:40%; margin-bottom:10px;}
	}
	@media only screen and (max-width:$mobile-size) {
		margin-top:23px;
		&__heading { margin-bottom:8px; font-size:15px;
			&_next { margin-top:20px; }
		}
		&__img-wrap { float:none; overflow:hidden; position:relative; width:auto; height:0; margin:25px 0; padding-bottom:60%; }
		&__img { position:absolute; top:-10%; left:0; width:100%; }
	}
}
.careers-zoom-list { display:block; position:relative; margin:0; padding:0; font-size:0; white-space:nowrap;
	$this:&;
	$full:#{$this}_full;
	&_full { margin-top:-50px; white-space:normal; }
	&__item { display:inline-block; width:33.3%; font-size:13px; color:$black-body; line-height:1.3; vertical-align:top;
		#{$full} & { margin-top:50px; }
	}
	&__link { display:block; text-decoration:none; color:inherit; }
	&__img-wrap { display:inline-block; vertical-align:middle; }
	&__text-wrap { display:inline-block; margin-top:40px; vertical-align:middle; }
	&__group { margin:0; color:$purple; }
	&__team { margin:20px 0 0 0; white-space:nowrap; }
	&__name { margin:3px 0 0 0; color:$black-tit; }
	@media only screen and (max-width:$tablet-size) {
		&__link { width:200px; margin-left:auto; margin-right:auto; }
		&__img-wrap { display:block; }
		&__text-wrap { display:block; margin-top:30px; }
		&__img { }
		&__group { font-weight:$bold; }
		&__team { margin-top:10px; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { width:50%; }
		&__link { width:100px; }
		&__text-wrap { margin-top:15px; }
		&__img { width:100%; }
		&__team { margin-top:5px; }
	}
}
.careers-zoom-list-wrap { margin-top:40px; overflow:hidden; }

.careers-zoom-pagination { margin-top:39px; text-align:center; font-size:0;
	button { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:12px; height:12px; margin:0 7px; padding:0; border:1px solid #ccc; border-radius:50%; background-color:#fff; font-size:13px; text-indent:-999em; cursor:pointer;
		&.active { border-color:#715ba5; background-color:#715ba5; }
	}
}

/* careers__001 */
.careers__001{
    &__item{
        position:relative;
        display:inline-block;
        vertical-align:top;
        width:24.4%;
        &__wrap{
            position:relative;
            width:110%;
            height:430px;
            left:-25px;
            &:first-child{
                left:0px;
            }
            &__top{
                padding-top:70px;
            }
            &__bottom{
                padding-bottom:0px;
            }
        }
        &__img{
            position:absolute;
            width:100%;
            &__top{
                position:static;
            }
            &__bottom{
                bottom:0px;
            }
        }
        &__tit{
            position:absolute;
            width:100%;
            margin:0px 0px 0px 0px;
            color:$black-tit;
            font-size:16px;
            text-align:center;
            background-image:url('../images/careers/carrers-001-bar.png');
            background-repeat:no-repeat;
            &__top{
                position:static;
				margin-top:20px;
                padding-top:98px;
                background-position:center top;
            }
            &__bottom{
				top:0px;
                padding-bottom:158px;
                background-position:center bottom;
            }
        }
        &__txt{
            position:absolute;
			margin:0;
            color:$black-body;
            line-height:20px;
            word-break:normal;
			text-align:justify;
            &__top{
				top:40px;
            }
            &__bottom{
                position:static;
				margin-top:20px;
			}
        }
    }
}
@media only screen and (max-width:$tablet-size){
    .careers__001{
        &__item{
            width:50%;
            &__wrap{
                height:400px;
                width:300px;
                margin: 0px auto;
				padding-top:60px;
				text-align:center;
                &__bottom{
                    padding-bottom:0px;
                }
            }
            &__img{
				position:static;
                width:159px;
            }
            &__tit{position:static;
                &__bottom{
					margin-top:20px;
                    padding-top:98px;
					padding-bottom:0px;
                    background-position:center top;
                }
            }
            &__txt{position:static;margin-top:20px;

            }
        }
    }
}
@media only screen and (max-width:$mobile-size){
	.careers__001{
		&__item{
            width:100%;
			&__wrap{padding-top:30px;}
			&__tit{margin-top:10px;padding-top:88px;}
			&__txt{margin-top:10px;}
		}
	}
}

/*careers__002*/
.careers__002{
    &__item{display:inline-block;position:relative;left:-20px;width:50%;margin-top:10px;padding-left:10px;-webkit-box-sizing:border-box; box-sizing:border-box;}
    &__img{position:absolute;top:0;left:10px;width:180px;
        & img{width:100%;}
    }
    &__bar{margin:40px 0px;border-bottom:1px solid #eee;}
    &__wrap{display:table-cell;vertical-align:middle;height:180px;padding-left:220px;
        & h2{margin:0px 0px 20px 0px;font-size:24px;font-weight:$bold; color:$black-tit;}
        & ul{padding:0px;}
        & li{color:$black-body;list-style-type:none;
            &:before{position: absolute;height: 2px;margin: 0.5em 0 0 -0.5em;border-left: 2px solid #222;content: '';}
        }
        & li + li{margin-top:8px;}
    }
    @media only screen and (max-width:$tablet-size) {
        &__item{left:0px;margin-top:50px;}
        &__img{;left:0px;width:135px;}
        &__bar{margin-bottom:10px;}
        &__wrap{height:135px;padding-left:155px;
            & h2{font-size:16px; margin-bottom:10px;}
        }
    }
    @media only screen and (max-width:$mobile-size) {
        &__item{left:0px; width:100%; margin-top:50px; padding-left:0px;}
        &__bar{display:none;}
        &__img{left:0px;width:102px;}
        &__wrap{height:102px;padding-left:122px;
            & h2{font-size:16px; margin-bottom:10px;}
            & li{font-size:12px;}
            & li + li{margin-top:4px;}
        }
    }
}
/*careers__003*/
.careers__003{
    &__item{display:inline-block;width:17.6%;text-align:center;vertical-align:top;
        & h2{padding-bottom:20px;border-bottom:1px solid #dddddd; font-size:24px; font-weight:$bold;}
        & p{color:$black-body;}
    }
    &__img{display:inline-block;width:120px;height:120px;background-image:url('../images/careers/careers-003-icon.png');
        &-2{background-position-y:-120px;}
        &-3{background-position-y:-240px;}
        &-4{background-position-y:-360px;}
        &-5{background-position-y:-480px;}
    }
    &__wrap{
        display:table-cell;
        vertical-align:middle;
        width:1%;
    }
    &__point{display:inline-block; font-size:12px; margin-top:5px; }
    &__next{display:inline-block;width:3%;height:120px;vertical-align:top;background-image:url('../images/careers/careers-003-next.png');background-position:center center; background-repeat:no-repeat;}
    @media only screen and (max-width:$tablet-size) {
        &__item{
            & h2{margin:0px 0px 5px 0px;padding:0px;border-bottom:none; font-size:16px;}
            & p{margin:0px;}
        }
        &__img{width:90px;height:90px; margin-bottom:10px; background-image:url('../images/careers/careers-003-icon-mobile.png');
            &-2{background-position-y:-90px;}
            &-3{background-position-y:-180px;}
            &-4{background-position-y:-270px;}
            &-5{background-position-y:-360px;}
        }
        &__wrap{margin-top:10px;}
        &__next{height:90px;}
    }
    @media only screen and (max-width:$mobile-size) {
        &__item{overflow:hidden;width:100%;text-align:left;
            & h2{margin:0px 0px 5px 0px;padding:0px;border-bottom:none; font-size:16px;}
            & p{margin:0px;}
        }
        &__img{float:left;width:90px;height:90px; background-image:url('../images/careers/careers-003-icon-mobile.png');
            &-2{background-position-y:-90px;}
            &-3{background-position-y:-180px;}
            &-4{background-position-y:-270px;}
            &-5{background-position-y:-360px;}
        }
        &__wrap{height:90px;padding-left:20px;}
        &__next{width:100%;height:60px;background-image:url('../images/careers/careers-003-bottom.png');}
    }
}
