@charset "utf-8";
@import "mixin";

/* 허가제품 */
.prod-approval { position:relative; padding-top:49%;
	&__summary { -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; top:0; left:0; width:50%; padding-right:20px;
		&_second { left:auto; right:0; padding-left:20px; padding-right:0; }
	}
	&__body { @include block; display:none; }
	@media only screen and (max-width:$tablet-size) {
		padding-top:0;
		&__summary { clear:both; position:static; width:auto; padding-right:0;
			&_second { padding-left:0; margin-top:40px; }
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__summary { overflow:hidden; clear:both;
			&_second { margin-top:30px; }
		}
	}
}

.product-summary { line-height:1.3;
	$this:&;
	&__header { }
	&__body { overflow:hidden; margin-top:38px; }
	&__footer { clear:both; margin-top:20px; }
	&__name { margin:0 0 15px 0; font-size:24px; color:$black-tit; }
	&__note { margin:0; color:$black-body; }
	&__img-warp { float:left; margin-right:24px; }
	&__list { overflow:hidden; margin:0; padding-left:12px; color:$black-body; line-height:1.5; }
	&__term { color:$black-tit; font-weight:$bold;
		&:before { position:absolute; height:2px; margin:0.5em 0 0 -0.5em; border-left:2px solid $black-tit;  content:''; }
		#{$this}__describe+& { margin-top:18px;}
	}
	&__describe { margin:0; }
	@media only screen and (max-width:$tablet-size) {
		&__footer { }
	}
	@media only screen and (max-width:$mobile-size) {
		position:relative;
		&__header { position:absolute; top:0; left:30%; padding-left:10px;}
		&__body { overflow:visible; margin-top:0; }
		&__footer { position:absolute; left:30%; bottom:0;  padding-left:10px;}
		&__name { margin-bottom:10px; font-size:15px; }
		&__img-warp { float:none; width:30%; }
		&__img { width:100%; }
		&__list { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:100%; margin-top:15px; }
	}
}

.product-body { padding-top:38px; border-top:1px dashed #d3d3d3; color:$black-body; line-height:1.3;
	&__tit-v1 { margin:0 0 3px 0; color:$black-tit; font-size:13px; font-weight:$bold;
		&_next { margin-top:45px; }
	}
	&__tit-v2 { margin:0 0 3px 0; padding-left:1.5em; font-size:13px; font-weight:$normal; text-indent:-1.5em;
		&_next { margin-top:24px; }
	}
	&__tit-v3 { margin:0 0 3px 0; font-size:13px; font-weight:$normal;
		&_next { margin-top:24px; }
	}
	&__para { margin:0; margin-left:1em; line-height:1.5;
		&_next { margin-top:24px; }
	}
	&__list { margin:0; padding:0; list-style:none; counter-reset:product-list;
		&_next { margin-top:24px; }
	}
	&__item-v1 { padding-left:24px; margin-top:3px;
		&:before { position:absolute; content:'-'; margin-left:-12px; }
		&:first-child { margin-top:0; }
		&_next{ margin-top:24px; }
	}
	&__item-v2 { padding-left:24px; margin-top:3px;
		&:before { position:absolute; content:"\2023"; margin-left:-12px; }
		&:first-child { margin-top:0; }
		&_next{ margin-top:24px; }
	}
	&__item-v3 { padding-left:1.5em; margin-left:10px; counter-increment:product-list; margin-top:3px;
		&:before { position:absolute; width:1em; content:counter(product-list, lower-roman) '. '; margin-left:-1.5em; text-align:right; }
		&:first-child { margin-top:0; }
		&_next{ margin-top:24px; }
	}
	@media only screen and (max-width:$tablet-size) {
		margin-top:40px;
	}
}

/* 품질 */
.prod-quality { overflow:hidden; margin-left:-20px; color:$black-body; line-height:1.6;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:33.33%; padding-left:20px; }
	&__tit { margin:0 0 15px 0; font-weight:$bold; font-size:24px; line-height:1.1; color:$black-tit; }
	&__img { max-width:100%; }
	&__para { margin:15px 0 0 0; }
	&__list { margin:22px 0 0 0; padding-left:20px; }
	&__list-item { margin-top:15px; list-style-type:decimal;
		&:first-child { margin-top:0; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__tit {margin-bottom:8px; font-size:15px; }
	}
	@media only screen and (max-width:$mobile-size) {
		margin-left:0;
		&__item { float:none; width:auto; margin-top:20px; padding-left:0;
			&:first-child { margin-top:0; }
		}
		&__para { margin-top:8px; }
	}
}

.prod-system { margin-top:50px;
	&__img-wrap { margin-top:35px; text-align:center; }
	&__img { max-width:100%; }
	@media only screen and (max-width:$mobile-size) {
		&__img-wrap { margin-top:14px; }
	}
}

/*prod-003*/
.prod-003-imgbox{position: relative;height: 0;overflow: hidden;}
.prod-003-imgbox-img{position:absolute; margin:0px; top:0;left:0;width:100%;height: 100%;background-position:center center; background-size:cover; background-repeat:no-repeat}
.prod-003-box-first{padding-bottom:59.18%;}
.prod-003-box-second{padding-bottom:59.18%;}
.prod-003-img-first{background-image:url('../images/prod/prod-003-product01.jpg')}
.prod-003-img-second{background-image:url('../images/prod/prod-003-product02.jpg')}
.prod-facilities{border-bottom:1px dashed #d3d3d3;}
.prod-facilities > div + div{margin-left:2%;}
.prod-facilities__item{display:inline-block;width:49%;margin:4% 0px;vertical-align:top;text-align:center;}
.prod-facilities__img-caption-title{font-size:16px;font-weight:bold;}
.prod-facilities__img-caption-maintxt{font-size:16px;}
.prod-facilities__img-caption-subtxt{color:#676767;}
.prod-color{margin-bottom:20px;font-size:24px; font-weight:bold;}
.prod-color > span{color:#61409b;}
.prod-txt{font-size:13px; color:#676767; line-height:22px;}
.prod-maintxt{margin-top:4%;}
.margin_top8{margin-top:8%;}
@media only screen and (max-width: 668px){
	.prod-facilities__item{width:100%; margin:2% 0%;}
	.prod-003-box-first{margin-top:20px;}
	/*.prod-003-box-second{padding-bottom:60.5%;}
	.prod-003-img-first{background-image:url('../images/prod/prod-003-product01-mobile.jpg')}
	.prod-003-img-second{background-image:url('../images/prod/prod-003-product02-mobile.jpg')}*/
	.prod-color{font-size:18px; margin-bottom:10px;}
}

.prod-004-imgbox{position: relative;width: 100%;height: 0;overflow: hidden;}
.prod-004-imgbox-img{position:absolute; margin:0px; top:0;left:0;width:100%;height: 100%;background-position:center center; background-size:cover; background-repeat:no-repeat}
.prod-004-box-first{margin:4% 0%; padding-bottom:56.25%;}
.prod-004-box-second{margin-top:4%;padding-bottom:215%;}
.prod-004-img-second{ background-image:url('../images/prod/prod-004-product02.jpg')}
.border-dashed{border:none; border-bottom:1px dashed #ccc;}
@media only screen and (max-width: 668px){
	h2.tit-v1{margin:30px auto;}
	.prod-004-box-second{padding-bottom:530.33%;}
	.prod-004-img-second{background-image:url('../images/prod/prod-004-product02-mobile.jpg')}
}

.prod-video { position:absolute; top:0; left:0; width:100%; height:100%; }

/* 생산공정 */
.prod-process { overflow:hidden; font-size:0;
	$this:&;
	&__item { @include block; position:relative; padding-top:1px;
		&:before { -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; z-index:10; left:50%; width:11px; height:11px; margin-top:-1px; margin-left:-5px; border:2px solid #fff; border-radius:50%; background-color:$purple; background-clip: padding-box;}
		&:first-child:before { display:none; }
	}
	&__tit { position: relative; width: 150px; height: 86px; margin: 43px auto; background-color: $purple; text-align:center; color:$purple; font-size:20px; line-height:1.5;
		&:before,
		&:after { content: ""; position: absolute; left:0; width: 0; border-left: 75px solid transparent; border-right: 75px solid transparent; }
		&:before { bottom: 100%; border-bottom: 43px solid $purple; }
		&:after { top: 100%; width: 0; border-top: 43px solid $purple; }
		&_font-small { font-size:16px; }
		div { display:table-cell; z-index:1; position: relative; width: 148px; height: 86px; left:1px; background-color: #fff; margin:auto; vertical-align:middle;
			&:before,
			&:after { content: ""; position: absolute; left:0; width: 0; border-left: 74px solid transparent; border-right: 74px solid transparent; }
			&:before { bottom: 86px; border-bottom: 42px solid #fff; }
			&:after { top: 86px; width: 0; border-top: 42px solid #fff; }
		}
		span { display:block; margin-bottom:15px; font-family:'Open Sans'; font-weight:$normal; font-size:24px; line-height:1; }
		&_font-small span { margin-bottom:7px;}
	}
	&__col { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:50%; font-size:13px; vertical-align:top;
		&_first { padding-right:9.5%;
			&:before { -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; z-index:10; left:50%; width:11px; height:11px; margin-top:-10px; margin-left:-5px; border:2px solid #fff; border-radius:50%; background-color:$purple; content:''; background-clip: padding-box;
				#{$this}__item:last-child & { display:none;}
			}
		}
		&_second { padding-left:9.5%;
			&:before { position:absolute; left:50%; top:-100%; height:100%; border-left:1px solid $purple; content:'';
				#{$this}__item:first-child & { z-index:1; border-color:#fff; top:-99.8%;}
			}
		}
		#{$this}__item_another & {
			&_first { float:right; padding-right:0; padding-left:9.5%; }
			&_second { padding-left:0; padding-right:9.5%; }
		}
	}
	&__img-wrap { position:relative;
		&:before,
		&:after { position:absolute; width:0; height:0; content:''; border-style: solid; }
		&:before { top:0; right:0; border-width:0 75px 43px 0;border-color: transparent #fff transparent transparent ;}
		&:after { bottom:-1px; left:0; border-width: 43px 0 0 75px;border-color: transparent transparent transparent #fff;}
		#{$this}__item_another & {
			&:before { left:0; border-width:0 0 43px 75px; border-color: transparent  transparent transparent #fff;}
			&:after { left:auto; right:0; border-width: 43px 75px 0 0 ;border-style: solid; border-color: transparent #fff transparent transparent ;}
		}
	}
	&__img { width:100%; }
	&__img-summary { margin-top:18px; text-align:right; color:$black-tit; line-height:1; font-size:16px;
		#{$this}__item_another & { text-align:left; }
	}
	&__description-list { margin:0; line-height:1.5;}
	&__terms { margin-bottom:18px; font-size:16px; font-weight:$bold; color:$black-tit; line-height:1.3; }
	&__describe { margin:0; color:$black-body; }
	&__terms+&__describe+&__terms { margin-top:34px; }

	@media only screen and (max-width:$mobile-size) {
		&__item {
			&:before { left:50px; margin-top:-1px; }
		}
		&__tit { width: 100px; height: 58px; margin:29px 0; font-size:13px;
			&:before,
			&:after { border-left-width:50px; border-right-width:50px;}
			&:before { border-bottom-width:29px; }
			&:after { border-top-width:29px; }
			div { width: 98px; height: 58px;
				&:before,
				&:after { border-left-width:49px; border-right-width:49px;}
				&:before { bottom:58px; border-bottom-width:28px; }
				&:after { top:58px; border-top-width:28px; }
			}
			span { margin-bottom:7px; font-size:16px; }
			&_font-small span { margin-bottom:2px;}
		}
		&__col { width:auto;
			&_first { padding-left:100px; padding-right:0;
				&:before { z-index:10; left:50px; margin-top:-10px; margin-left:-5px; }
			}
			&_second { padding-left:100px;
				&:before { left:50px; }
			}
			#{$this}__item_another & {
				&_first { float:none; padding-left:100px; }
				&_second { padding-left:100px; padding-right:0; }
			}
		}
		&__img-wrap {
			&:before { left:0; border-width:0 0 18px 30px; border-color: transparent  transparent transparent #fff;}
			&:after { left:auto; right:0; border-width: 18px 30px 0 0 ;border-style: solid; border-color: transparent #fff transparent transparent ;}
			#{$this}__item_another & {
				&:before { border-width:0 0 18px 30px; }
				&:after { border-width: 18px 30px 0 0; }
			}
		}
		&__img-summary { margin-top:10px; margin-bottom:20px; text-align:left; font-size:13px; }
		&__terms { margin-bottom:10px; font-size:13px; }
		&__terms+&__describe+&__terms { margin-top:20px; }
	}
}
