@charset "utf-8";
@import "mixin";

/* 연구분야 */
.develop-list-wrap { margin-top:38px; overflow:hidden;
	&:after { display:block; margin-top:-1px; border-top:1px solid #715ba5; content:''; }
	@media only screen and (max-width:$tablet-size) {
		margin:15px -12px -9px;
		&:after { display:block; margin:-10px -20px 0; padding-bottom:9px; border-top:1px solid #715ba5; content:''; }
	}
	@media only screen and (max-width:$mobile-size) {
		position:relative; padding:0 20px;
	}
}
.develop-list { height:100%; position:relative; margin:0 0 0 0; padding:0; font-size:0; white-space:nowrap;
	$this:&;
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; position:relative; width:16.66%; height:180px; line-height:1.5; color:$black-tit; text-align:center; font-size:13px; white-space:normal; vertical-align:top;
		&.on:before,
		&.on:after { position:absolute; bottom:0; left:0; right:0; width:0; height:0; margin:auto; border-style:solid; content:''; }
		&.on:before { border-width:0 15px 20px 15px; border-color:transparent transparent #715ba5 transparent; }
		&.on:after { bottom:-1px; border-width:0 15px 20px 15px; border-color:transparent transparent #faf9fc transparent; }
	}
	&__link { display:block; text-decoration:none; color:inherit;
		&:before { display:block; width:100px; margin:0 auto 18px; height:100px; background:url(../images/rd/rd-002-develop-ico.png) no-repeat; content:''; }
		#{$this}__item.on &:before { background-position-y:-100px}
		@for $i from 1 through 6 {
			#{$this}__item_#{$i} &:before { background-position-x:(-100px * $i)+100; }
		}

	}
	&__text { }
	@media only screen and (max-width:$tablet-size) {
		margin-left:0;
		&__item {  padding-left:0;
			&.on { color:$purple; }
			&.on:before,
			&.on:after { left:0; }
			&.on:before { bottom:0px; margin:auto; border-width:10px 8px 0 8px; border-color:#715ba5 transparent transparent transparent; }
			&.on:after { bottom:1px; margin:auto; border-width:9px 7px 0 7px; border-color:#fff transparent transparent transparent; }
		}
		&__text {
			display:none;
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item { height:120px;font-size:12px;
			&.on { color:$purple; }
		}
		&__link {
			&:before { width:50px; height:50px; margin-bottom:10px; -webkit-background-size:auto 100px; background-size:auto 100px; }
			#{$this}__item.on &:before { background-position-y:-50px; }
				@for $i from 1 through 6 {
				#{$this}__item_#{$i} &:before { background-position-x:(-50px * $i)+50; }
			}
		}
	}
}

.develop-list-btn-group { display:none;
	@media only screen and (max-width:$mobile-size) {
		display:block;

	}
}
.develop-list-btn { position:absolute; top:0; bottom:10px; width:20px; margin:0; padding:0; border:none; text-indent:-999em; background-color:#fff;
	&:before { position:absolute; top:0; left:0; right:0; bottom:0; width:8px; height:13px; margin:auto; @include background-image-retina('../images/rd/rd-002-develop-btn','png',16px,13px); background-repeat:no-repeat; content:''; }
	&_prev { left:0;
		&:before { background-position:0 0; }
	}
	&_next { right:0;
		&:before { background-position:-8px 0; }
	}
}

.develop-body { display:none; background-color:#faf9fc; padding:40px 65px;
	&.on { display:block; }
	&__tit { margin:0 0 50px 0; font-size:16px; color:$black-tit; }
	&__head { position:relative; width:192px; height:192px; margin:0 auto 30px; background:url(../images/rd/rd-002-develop-circle.png) no-repeat; text-align:center; font-size:20px; color:#fff;
		span { display:table-cell; width:1%; height:inherit; vertical-align:middle; }
		&:after { position:absolute; content:''; left:0; right:0; width:0; height:30px; margin:0 auto; border-left:1px solid #ddd; content:''; }
		&_next { margin-top:60px; }
		&_another { background-position:0 -192px; color:$black-body; }
	}
	&__wrap { display:-webkit-box; display:box; display:-webkit-flex; display:flex; margin-left:-20px; padding-top:30px; overflow:hidden; }
	&__item { display:table-cell; display:-webkit-box; display:box; -webkit-box-flex:1; box-flex:1; -webkit-flex-grow:1; flex-grow:1; position:relative; z-index:0; width:1%; padding-left:20px;
		&:before { position:absolute; left:20px; right:0; top:-30px; width:0; height:30px; margin:auto; border-left:1px solid #ddd; content:''; }
		&:after { position:absolute; left:10px; top:-30px; width:100%; height:0; margin-left:-50%; border-top:1px solid #ddd; content:''; }
		&:first-child {
			&:after { border-top:1px solid #faf9fc; }
		}
	}
	&__box { -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; padding:45px 20px 44px; margin-bottom:1px; text-align:center; border:1px solid #ddd; border-bottom:0; background-color:#fff;
		&:after { -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; z-index:-1; bottom:0; left:20px; right:0; height:100%; border:1px solid #ddd; background-color:#fff; content:''; }
	}
	&__summary { margin:0 -5px 15px; color:$black-tit; line-height:1.3; font-weight:$bold; font-size:16px; }
	&__para { margin:0; line-height:1.5; color:$black-body; }
	&__list { margin:0; padding:0; list-style:none; line-height:1.5; text-align:left; }
	&__list-item { margin-top:5px; padding-left:1em;
		&:first-child { margin-top:0; }
		&:before { position:absolute; margin-left:-1em; content:'-'; }
	}
	@media only screen and (max-width:$tablet-size) {
		margin-left:-12px; margin-right:-12px; padding-left:12px; padding-right:12px;
	}
	@media only screen and (max-width:$mobile-size) {
		&__tit { font-size:15px; }
		&__head { margin-bottom:0; width:150px; height:150px; background-size:150px auto; font-size:15px;
			&:after { display:none; }
			&_next { margin-top:30px; }
			&_another { background-position:0 -150px; }
		}
		&__wrap { display:block; padding-top:0; }
		&__item { display:block; width:auto; margin-top:15px;
			&:before { top:-15px; height:15px; }
			&:after { display:none; }
		}
		&__box { padding:14px; border:1px solid #ddd; margin-bottom:0;
			&:after { display:none;}
		}
		&__summary { font-size:13px; margin-bottom:8px; }
	}
}

.rd-bio-sector { margin-top:55px; font-size:0; @include background-image-retina('../images/rd/rd-002-bio-sector-bg-d','png',701px,371px); background-repeat:no-repeat; background-position:center top;
	$this:&;
	&__col { display:inline-block; width:50%; font-size:13px; vertical-align:top;
		&_another { text-align:right; }
	}
	&__header { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; width:330px; height:371px; padding-top:178px; text-align:center; }
	&__body { padding-left:155px;
		#{$this}__col_another & { padding-left:0; padding-right:155px; }
	}
	&__heading { margin:0 0 16px 0; line-height:1.1; font-size:24px; color:$black-tit; font-weight:$bold; }
	&__summary { margin:0 50px; color:$black-body; line-height:1.5; }
	&__list { overflow:hidden; margin:0; padding-left:26px; padding-top:50px;
		#{$this}__col_another & { padding-left:0; padding-right:26px; }
		&:before { position:absolute; z-index:10; display:inline-block; width:7px; height:7px; margin-top:-56px; margin-left:-21px; background-color:#c0b3d7; border:2px solid #fff; border-radius:50%; background-clip:padding-box; content:'';
			#{$this}__col_another & { margin-left:10px; background-color:#a1d899; }
		}
	}
	&__term { position:relative; margin-bottom:10px; color:$black-tit; font-size:16px; font-weight:$bold; line-height:1.3;
		&:before { position:absolute; z-index:10; display:inline-block; top:0.2em; left:-21px; width:7px; height:7px; background-color:#022222; border:2px solid #fff; border-radius:50%; background-clip:padding-box; content:'';
			#{$this}__col_another & { left:auto; right:-21px; }
		}
		&:after { position:absolute; height:1000%; left:-16px; bottom:0.5em; border-left:1px solid #c0b3d7; content:'';
			#{$this}__col_another & { left:auto; right:-16px; border-color:#a1d899; }
		}
	}
	&__describe { margin:0; color:$black-body; }
	&__term+&__describe+&__term { margin-top:35px; }
	@media only screen and (max-width:$tablet-size) {
		@include background-image-retina('../images/rd/rd-002-bio-sector-bg-t','png',590px,313px);
		&__header { width:280px; height:313px; padding-top:157px; }
		&__heading { font-size:18px;}
		&__body { padding-left:128px;
			#{$this}__col_another & { padding-left:0; padding-right:128px; }
		}
		&__list { }
	}
	@media only screen and (max-width:$mobile-size) {
		width:295px; margin-left:auto; margin-right:auto; @include background-image-retina('../images/rd/rd-002-bio-sector-bg-m','png',295px,157px);
		&__col {
			&_another { }
		}
		&__header { width:140px; height:157px; padding-top:79px; }
		&__summary { display:none; }
		&__body { display:inline-block; width:140px; padding-left:0; text-align:center;
			#{$this}__col_another & { padding-left:0; padding-right:0; }
		}
		&__list { padding-left:0;
			#{$this}__col_another & { padding-right:0; }
			&:before { margin-left:-5px;
				#{$this}__col_another & { margin-left:-5px; }
			}
		}
		&__term { background-color:#fff; margin-bottom:0; padding-top:12px; padding-bottom:8px;
			&:before { left:0; right:0; top:-9px; margin:auto;
				#{$this}__col_another & { left:0; right:0; }
			}
			&:after { z-index:-1; left:0; right:0; top:-17px; width:0; margin:auto;
				#{$this}__col_another & { left:0; right:0; }
			}
		}
		&__describe { margin:0 10px; padding-bottom:12px; background-color:#fff; }
		&__term+&__describe+&__term { margin-top:40px; }
	}
}


.rd-001-imgbox{position: relative;width: 100%;height: 0;overflow: hidden;}
.rd-001-imgbox-img{position:absolute; margin:0px; top:0;left:0;width:100%;height: 100%;background-position:center center; background-size:cover; background-repeat:no-repeat}
//.iconbox{float:left;position: relative;width:27.2%;height: 0;overflow: hidden;padding-bottom:27.2%;}
.rd-001-box-first{padding-bottom:30%;}
.rd-001-img-first{background-image:url('../images/rd/rd-001.jpg')}
//.img-icon-1{background-image:url('../images/rd/rd-001-001.jpg');}
//.develop-body-none{display:none;}
.laboratory-2{margin-top:7.5%;}
.laboratory-3{margin-top:6.5%;}
.laboratory-tit{font-size:24px;font-weight:bold;}
.laboratory-txt{font-size:13px;color:#666;line-height:20px;}
.laboratory-box{display:inline-block;width:50%;height:16%; vertical-align:top; -webkit-box-sizing:border-box; box-sizing:border-box; line-height:1.5;}
.laboratory-box h3{font-size:16px;color:#222;}
.laboratory-left{padding-right:18%;}
.laboratory-right{padding-left:18%;}
.laboratory-wrap{margin-left:-20px;}
.laboratory-icon{display:inline-block;position:relative;width:50%;padding-left:200px; -webkit-box-sizing:border-box; box-sizing:border-box; line-height:1.5; vertical-align: top;}
.laboratory-icon:first-child{margin-bottom:50px;}
.laboratory-icon-wrap{display:table-cell;width:1%;height:136px;vertical-align:middle;}
.laboratory-icon-img{position:absolute;top:0;left:20px; width:136px;height:136px;}
.laboratory-icon-img > img{width:100%;}
//.margin_right{margin-right:2%;margin-top:5%;}
.rd-001-box-first-mobile{display:none;}
.rd-001-box-first-pc{display:block;}
@media only screen and (max-width: 668px){
	.laboratory-box{width:100%; padding:0px;}
	.laboratory-icon:first-child{margin-bottom:0px;}
	.laboratory-icon{width:100%; margin:15px 0px;}
	.laboratory-icon p{font-size:13px;}
	.rd-001-box-first{padding-bottom:30.67%;}
	.rd-001-img-first{background-image:url('../images/rd/rd-001-mobile.jpg')}
	.rd-001-box-first-mobile{display:block;}
	.rd-001-box-first-pc{display:none;}
	.laboratory-icon{padding-left:180px;}
	.laboratory-icon-img{position:absolute;top:17px;left:37px; width:102px;height:102px;}
}

.rd-003-imgbox{position: relative;width: 100%;height: 0;overflow: hidden;}
.rd-003-imgbox-img{position:absolute; margin:0px; top:0;left:0;width:100%;height: 100%;background-position:center center; background-size:cover; background-repeat:no-repeat}
.rd-003-box-first{padding-bottom:112.2%;}
.rd-003-img-first{background-image:url('../images/rd/rd-003.jpg')}
@media only screen and (max-width: 668px){
	.rd-003-box-first{margin-top:30px;padding-bottom:341.52%;}
	.rd-003-img-first{background-image:url('../images/rd/rd-003-mobile.jpg')}
}

/* 파이프라인 */
.rd-pipe-bio {
	&__col { width:33.3%; }
}

.rd-pipe-new {
	&__col { width:50%;
		&_first { }
	}
}




/* R&D Story */
.rd-story-header { @include block; -webkit-box-sizing:border-box; box-sizing:border-box; height:460px; margin-bottom:100px;padding-top:55px; background:url(../images/rd/rd-005-story-header.jpg) no-repeat center top; color:$black-tit;
	&__wrap { width:1000px; margin:0 auto; }
	&__heading { margin:0 0 -2px 0; font-family:'Times New Roman', Times, serif; font-size:60px; font-weight:$normal; line-height:1;text-transform:uppercase; }
	&__lower-deck { margin:0; font-family:'Times New Roman', Times, serif; font-size:15px; line-height:1; }
	&__headline { margin:0; color:$purple; font-size:36px; line-height:1.2; }
	&__who { margin:20px 0 0; color:$purple; font-size:18px; line-height:1; }
	&__summary { margin:0; line-height:1.5; font-weight:$bold; font-size:14px; }

	&__group-1 { margin-bottom:60px; }
	&__group-2 { margin-bottom:50px; }
	&__group-3 { }
	&__group-4 { display:none; }
	@media only screen and (max-width:$tablet-size) {
		height:400px; padding-top:40px; margin-bottom:50px; padding-left:12px; padding-right:12px; background-size:auto 600px;
		&__wrap { width:auto; }
		&__heading { font-size:44px; }
		&__lower-deck { font-size:12px; }
		&__headline { }
		&__who { font-size:15px; }
		&__summary { font-size:13px; }
	}
	@media only screen and (max-width:$mobile-size) {
		height:auto; margin-bottom:25px; padding:0 12px 20px; border-bottom:1px solid #e8e8e8; background:url(../images/rd/rd-005-story-header-m.jpg) no-repeat center 60px; background-size:cover;
		&__wrap { width:auto; margin:0; }
		&__heading { font-size:38px; }
		&__lower-deck { font-size:10px; }
		&__headline { font-size:27px; }
		&__who { font-size:13px; }
		&__summary { font-size:12px; letter-spacing:-1px;}
		&__group-1 { margin:0 -12px; padding:7px 0 10px; border-top:2px solid #333; border-bottom:1px solid #333; background-color:#fff; text-align:center; }
		&__group-2 { margin-top:190px; }
	}
}

.rd-story-body { overflow:hidden; position:relative; font-size:0;
	&__col { clear:both; display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; vertical-align:top; font-size:13px;
		&_next { margin-top:50px; }
		&_half-left { float:left; width:50%; padding-right:10px; }
		&_half-right { float:right; width:50%; padding-left:10px; }
	}
	&__heading { margin:0 0 30px 0; font-size:22px; color:$purple; line-height:1.3; letter-spacing:-0.01em;
		&_next { margin-top:47px; }
	}
	&__para { margin:0; color:$black-body; line-height:1.5;
		&_next { margin-top:18px; }
	}
	&__question {
		&:before { content:'Q.'; font-weight:bold; }
	}
	&__answer {
		& *:first-child:before { content:'A.'; font-size:22px; font-weight:bold; line-height:1; }
	}
	@include img-wrap;
	&__img-wrap { position:absolute; width:490px; height:0;
		&_1 { left:0; top:0; height:315px; }
		&_2 { left:0; top:315px+20px; height:315px; }
		&_3 { right:0; height:440px; }
		&_4 { left:0; top:315px+20px+315px+20px; height:315px; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__col { float:none; width:auto; padding-left:0; padding-right:0; }
		&__img-wrap { position:relative; left:auto; top:auto; width:auto; height:0; margin-bottom:40px; padding-bottom:51.18%; }
		&__heading { margin-bottom:15px;
			&_next { margin-top:37px; }
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__col {
			&_next { margin-top:23px; }
		}
		&__img-wrap { margin-bottom:23px;
			&_next { margin-top:23px; }
		}
		&__heading { margin-bottom:10px; font-size:15px;
			&_next { margin-top:23px; }
		}
		&__para {
			&_next { margin-top:13px; }
		}
		&__answer {
			& *:first-child:before { font-size:15px; }
		}
	}
}



/*	연구성과	*/
.rd003{
	&__item{height:220px;
		& h2{margin:0px; font-size:24px; font-weight:bold; color:#222;}
		& h3{margin:5% 0px; font-size:14px; font-weight:bold; color:#222;}
		&__txt{width:40.5%; font-size:13px; color:#676767; line-height:1.5;}
		&__img{position:absolute;top:0;left:0;width:100%;height:100%; background-position:center center; background-size:cover;
			&1{background-image:url('../images/rd/rd-003-01.jpg')}
			&2{background-image:url('../images/rd/rd-003-02.jpg')}
			&3{background-image:url('../images/rd/rd-003-03.jpg')}
			&4{background-image:url('../images/rd/rd-003-04.jpg')}
			&-wrap{position:relative; width:57.5%; height:220px; overflow:hidden;}
		}
		&:after{content:''; display:block; clear:both;}
		& + .rd003__item{margin-top:8%;}
		&__subtit{font-size:18px;}
		&-left{float:left;}
		&-right{float:right;}
	}
	@media only screen and (max-width:$tablet-size) {
		&__item{
			& h2{margin:0px; font-size:16px; font-weight:bold; color:#222;}
			& h3{margin:2.5% 0px; font-size:13px; font-weight:bold; color:#222;}
			&__subtit{font-size:14px;}
		}
	}
	@media only screen and (max-width:$mobile-size) {
		&__item{height:auto;
			& h2{margin:0px; font-size:16px; font-weight:bold; color:#222;}
			& h3{margin:2.5% 0px; font-size:13px; font-weight:bold; color:#222;}
			&__txt{width:40.5%; font-size:12px; color:#676767; line-height:1.5;
				&-left{float:left;}
				&-right{float:right;}
			}
			&__txt{width:100%;}
			&__img{width:100%;
				&-wrap{width:100%;height:0;padding-bottom:38.26%}
			}
			&__subtit{font-size:14px;}
			& + .rd003__item{margin-top:4%;}
		}
	}
}
