	<div class="header">
		<h1 class="top-logo">
			<a href="../main/main.html" class="top-logo__link"><img src="../../images/common/logo-top.png" alt="Celltrion" class="top-logo__img"></a>
		</h1><!-- //top-logo -->

		<div class="lang-menu" id="langLink">
			<h2 class="lang-menu__tit">언어변경</h2>
			<ul class="lang-menu__list">
				<li class="lang-menu__item"><a href="" class="lang-menu__link">ENG</a></li>
			</ul>
		</div><!-- //lang-menu -->

		<div class="top-bar" id="topBar">
			<div class="top-bar__wrap">
				<div class="family-site">
					<h2 class="family-site__tit">Family Site</h2>
					<ul class="family-site__list">
						<li class="family-site__item on"><a href="#" class="family-site__link">셀트리온</a></li>
						<li class="family-site__item"><a href="#" class="family-site__link">셀트리온 헬스케어</a></li>
						<li class="family-site__item"><a href="#" class="family-site__link">셀트리온 제약</a></li>
					</ul>
				</div><!-- //family-site -->
				<div class="mini-notice">
					<h2 class="mini-notice__tit">새소식</h2>
					<ul class="mini-notice__list" id="mini_list">
						<li class="mini-notice__item"><a href="#" class="mini-notice__link">제14기 정기주주총회 소집공고</a></li>
						<li class="mini-notice__item"><a href="#" class="mini-notice__link">제15기 정기주주총회 소집공고</a></li>
						<li class="mini-notice__item"><a href="#" class="mini-notice__link">제13기 정기주주총회 소집공고 제13기 정기주주총회 소집공고 제13기 정기주주총회 소집공고 제13기 정기주주총회 소집공고</a></li> <!-- 첫번쨰 -->
					</ul>
					<div class="mini-notice__btn-group">
						<a href="#" onclick="return false;" class="mini-notice__btn mini-notice__btn_prev">이전</a>
						<a href="#" onclick="return false;" class="mini-notice__btn mini-notice__btn_next">다음</a>
					</div>
				</div><!-- //mini-notice -->
			</div>
			<div class="top-bar__btn-wrap">
				<button type="button" class="top-bar__btn" id="topBarBtn">닫기/열기기</button>
			</div>
		</div><!-- //top-bar -->

		<div class="gnb">
			<div class="gnb__tit">
				<h2>주메뉴</h2>
				<span class="gnb__tit-bar gnb__tit-bar1"></span>
				<span class="gnb__tit-bar gnb__tit-bar2"></span>
				<span class="gnb__tit-bar gnb__tit-bar3"></span>
				<span class="gnb__tit-bar gnb__tit-bar4"></span>
			</div>
			<ul class="gnb__list-d1" id="gnb">
				<li class="gnb__item-d1">
					<a href="../about/about_001.html" class="gnb__link-d1 gnbEvt">About Us</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary"><strong>인류</strong>의 <strong>건강</strong>하고 <strong>행복</strong>한 <strong>내일</strong>을 만들어갑니다.</p>
						<ul class="gnb__list-d2 gnb__list-d2_1">
							<li class="gnb__item-d2"><a href="../about/about_001.html" class="gnb__link-d2">경영철학</a></li>
							<li class="gnb__item-d2"><a href="../about/about_002_01.html" class="gnb__link-d2">CEO 인사말</a></li>
							<li class="gnb__item-d2"><a href="../about/about_003.html" class="gnb__link-d2">사업전략</a></li>
							<li class="gnb__item-d2"><a href="../about/about_004.html" class="gnb__link-d2">사업분야</a></li>
							<li class="gnb__item-d2"><a href="../about/about_005.html" class="gnb__link-d2">사업역량</a></li>
							<li class="gnb__item-d2"><a href="../about/about_006_01.html" class="gnb__link-d2">연혁소개</a></li>
							<li class="gnb__item-d2"><a href="../about/about_007_01.html" class="gnb__link-d2">CI</a></li>
							<li class="gnb__item-d2"><a href="../about/about_008_01.html" class="gnb__link-d2">파트너스</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../biosimilar/bio_001.html" class="gnb__link-d1 gnbEvt">Biosimilar</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary"><strong>풍요롭고 행복한 삶</strong>을 위한 새로운 <strong>패러다임</strong></p>
						<ul class="gnb__list-d2 gnb__list-d2_2">
							<li class="gnb__item-d2"><a href="../biosimilar/bio_001.html" class="gnb__link-d2">바이오시밀러</a></li>
							<li class="gnb__item-d2"><a href="../biosimilar/bio_002.html" class="gnb__link-d2">바이오의약품</a></li>
							<li class="gnb__item-d2"><a href="../biosimilar/bio_003.html" class="gnb__link-d2">제네릭과 바이오시밀러</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../prod/prod_001.html" class="gnb__link-d1 gnbEvt">Products</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary"><strong>FDA 인준</strong> 설비와<br>글로벌 <strong>GMP</strong> 품질정책</p>
						<ul class="gnb__list-d2 gnb__list-d2_3">
							<li class="gnb__item-d2"><a href="../prod/prod_001.html" class="gnb__link-d2">허가제품</a></li>
							<li class="gnb__item-d2"><a href="../prod/prod_002.html" class="gnb__link-d2">품질</a></li>
							<li class="gnb__item-d2"><a href="../prod/prod_003.html" class="gnb__link-d2">생산설비</a></li>
							<li class="gnb__item-d2"><a href="../prod/prod_004.html" class="gnb__link-d2">생산공정</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../rd/rd_001.html" class="gnb__link-d1 gnbEvt">R&amp;D</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary"><strong>인류</strong>의 더 <strong>행복한 삶</strong>을 위한 <strong>도전</strong>과 <strong>혁신</strong>의 시작</p>
						<ul class="gnb__list-d2 gnb__list-d2_4">
							<li class="gnb__item-d2"><a href="../rd/rd_001.html" class="gnb__link-d2">연구소</a></li>
							<li class="gnb__item-d2"><a href="../rd/rd_002.html" class="gnb__link-d2">연구분야</a></li>
							<li class="gnb__item-d2"><a href="../rd/rd_003.html" class="gnb__link-d2">연구성과</a></li>
							<li class="gnb__item-d2"><a href="../rd/rd_004.html" class="gnb__link-d2">파이프라인</a></li>
							<li class="gnb__item-d2"><a href="../rd/rd_005.html" class="gnb__link-d2">R&amp;D스토리</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../ir/ir_001_01_01.html" class="gnb__link-d1 gnbEvt">IR</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary"><strong>경영활동</strong>과 <strong>재무정보</strong>를 공시합니다.</p>
						<ul class="gnb__list-d2 gnb__list-d2_5">
							<li class="gnb__item-d2"><a href="../ir/ir_001_01_01.html" class="gnb__link-d2">재무정보</a></li>
							<li class="gnb__item-d2"><a href="../ir/ir_002_01.html" class="gnb__link-d2">주가정보</a></li>
							<li class="gnb__item-d2"><a href="../ir/ir_003_01.html" class="gnb__link-d2">자료실</a></li>
							<li class="gnb__item-d2"><a href="#" class="gnb__link-d2">공고</a></li>
							<li class="gnb__item-d2"><a href="../ir/ir_006.html" class="gnb__link-d2">공시</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../pr/pr_001_01.html" class="gnb__link-d1 gnbEvt">PR</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary"><strong>셀트리온</strong>의 <strong>최신 소식</strong>을 전해드립니다.</p>
						<ul class="gnb__list-d2 gnb__list-d2_6">
							<li class="gnb__item-d2"><a href="../pr/pr_001_01.html" class="gnb__link-d2">회사소식</a></li>
							<li class="gnb__item-d2"><a href="#" class="gnb__link-d2">보도자료</a></li>
							<li class="gnb__item-d2"><a href="../pr/pr_003.html" class="gnb__link-d2">홍보영상</a></li>
							<li class="gnb__item-d2"><a href="../pr/pr_004.html" class="gnb__link-d2">디지털 브로슈어</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../careers/careers_001_01.html" class="gnb__link-d1 gnbEvt">Careers</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary"><strong>셀트리온</strong>과 함께 <strong>성장</strong>할 <strong>인재</strong>를 기다립니다.</p>
						<ul class="gnb__list-d2 gnb__list-d2_7">
							<li class="gnb__item-d2"><a href="../careers/careers_001_01.html" class="gnb__link-d2">인재상</a></li>
							<li class="gnb__item-d2"><a href="../careers/careers_002_01.html" class="gnb__link-d2">복지제도</a></li>
							<li class="gnb__item-d2"><a href="../careers/careers_003_01.html" class="gnb__link-d2">채용안내</a></li>
							<!-- <li class="gnb__item-d2"><a href="#" class="gnb__link-d2">직무소개</a></li> -->
							<li class="gnb__item-d2"><a href="#" class="gnb__link-d2">입사지원</a></li>
							<li class="gnb__item-d2"><a href="../careers/careers_005_01.html" class="gnb__link-d2">채용공고</a></li>
							<li class="gnb__item-d2"><a href="../careers/careers_006_01.html" class="gnb__link-d2">Zoom 人 Celltrion</a></li>
						</ul>
					</div>
				</li>
				<li class="gnb__item-d1">
					<a href="../cscenter/cs_001.html" class="gnb__link-d1 gnbEvt">CS Center</a>
					<div class="gnb__wrap-d2 gnbSub">
						<p class="gnb__summary"><strong>문의사항</strong>에<br><strong>답변</strong> 드립니다.</p>
						<ul class="gnb__list-d2 gnb__list-d2_8">
							<li class="gnb__item-d2"><a href="../cscenter/cs_001.html" class="gnb__link-d2">고객센터</a></li>
							<li class="gnb__item-d2"><a href="../cscenter/cs_009.html" class="gnb__link-d2">오시는 길</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<script>
				$(document).ready(function(){
					$(".gnbEvt").accessibleDropDown("gnbSub");
				});
			</script>
		</div><!-- //gnb -->
	</div><!-- //header -->
