<div class="sticky-go-to-top" id="stickyTopFunc">
    <a href="#" id="goTop" class="sticky-go-to-top__btn"><img src="../../images/layout/sticky-btn.png" alt="위로 가기"></a>
</div><!-- //sticky-go-to-top -->
